.connected button {

}

.connectionDetails, .newMessageContent {
  display: flex;
  flex-direction: column;
  width: 25%;
}

button {
  width: 50%;
  background-color: lightgreen;
}

button:disabled {
  background-color: lightgray;
}

.newMessageContent {
  margin-top: 1em;
}

.newMessageForm input{
  width: 70%;
}

.newMessageForm select {
  width: 25%;
}

.messageLog {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 1em;
}

ul {
  list-style: none;
  height: 350px;
  overflow: scroll;
}

.message {
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 10px 100px / 120px;
  padding: 1em;
}